@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
}

.sidebar {
  min-width: 270px;
  height: 100vh;
  background-color: #f2eae1;
  text-align: center;
}

.sidebar__inner {
  padding: 30px 50px ;
}

.sidebar img {
  width: 100px;
  /* height: 50px; */
  border-radius: 50%;
  margin-bottom: 14px;
}

.sidebar p {
  color: rgb(254, 175, 0);
}

.sidebar h2,
.sidebar p {
  margin-bottom: 10px;
}

.sidebar nav ul {
  text-align: start;
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  /* margin-top: 30px; */
  /* background-color: green; */
  padding: 15px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar nav ul li.active {
  background-color: rgb(254, 175, 0);
  margin: 4px;
}

.sidebar nav ul li:hover {
  background-color: rgb(254, 175, 0);
}

/* Стили для списка студентов */
.students-list {
  padding: 30px;
  padding-left: 100px;
  width: 100%;
  background-color: #f8f8f8;
}

.students-list h1 {
  padding-left: 6px;
  border-left: 8px solid rgb(254, 175, 0);
}
.students-list h2 {
  padding-left: 14px;
  border-left: 8px solid rgb(254, 175, 0);
}

.list {
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(229, 229, 229);;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.students-list h1,
.students-list h2 {
  margin: 0;
}


.students-list button {
  border: none;
  background-color: inherit;
  padding: 13px 26px;
  background-color: rgb(254, 175, 0);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.students-list table {
  width: 100%;
  margin-top: 20px;
}

.students-list table th,
.students-list table td {
  padding: 10px;
  text-align: left;
}

.students-list img {
  width: 64px;
  /* height: 64px; */
}

.students-list table td:first-child {
  text-align: center;
  width: 65px;

}

tr.user {
  background-color: #fff;
  border-radius: 8px;
}

.user {
  padding: 14px;
}